<div id="container" class="container">
  <div class="container-left">
    <div class="menu">
      <!-- <a class="menu-item" [routerLink]="['home']">Home</a>
      <a class="menu-item" [routerLink]="['bio']">Bio</a>
      <a class="menu-item" [routerLink]="['contacto']">Contacto</a>
      <a class="menu-item" [routerLink]="['mrx']">Mr. X</a> -->
      <a class="menu-item" (click)="goTo('home')">Home</a>
      <a class="menu-item" (click)="goTo('bio')">Bio</a>
      <a class="menu-item" (click)="goTo('contacto')">Contacto</a>
      <a class="menu-item" (click)="goTo('mrx')">Mr. X</a>
    </div>
  </div>
  <div class="container-right">
    <router-outlet></router-outlet>
  </div>
</div>
